*{
    box-sizing: border-box;
    font-family: tahoma;
}
/* HomePage CSS */
  /* Nav bar */
    .logo {
    width: 10%;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    }
    #navbar {
    width: 80%;
    overflow: hidden;
    background-color: white;
    }
    .navbar a {
    width: 20%;
    float: right;
    font-size: 20pt;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .navbar a:hover {
    text-decoration: underline;
    color: darkgoldenrod;
    }
    .navbar .active-nav {
    color: darkgoldenrod;
    text-shadow: 3px 3px 10px rgb(181, 184, 136);
    }